<!--/*
 //******************************************************
 // システム名 電子入札コアシステム
 // サブシステム名 アップロードシステム
 //
 // 利用者情報登録（UA01_UserEntry.html）
 // @author  NEC
 // @version 1.0, xxxx.xx.xx, 新規作成<BR>
 //
 //******************************************************
*/-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>利用者情報登録</title>
    <link rel="stylesheet" href="bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="bootstrap-grid.min.css" />
    <link rel="stylesheet" href="upsystem.css" />
  </head>
  <body>
    <div class="container" layout:fragment="contents">
      <div class="screen-title">
        <div class="row">
          <div class="col-12">
            <h2>利用者情報登録</h2>
          </div>
        </div>
      </div>
      <!-- screen-title -->

      <div class="user-form">
        <form
          th:action="@{'/users/save'}"
          method="post"
          th:object="${userForm}"
          id="user_form"
        >
          <div class="top-area">
            <div class="row">
              <div class="col-lg-6">
                <table class="table">
                  <tr>
                    <th>対象部局</th>
                    <td sec:authentication="principal.departmentName"></td>
                  </tr>
                  <tr>
                    <th>対象事務所</th>
                    <td>
                      <div
                        th:if="${#authentication.principal.postType.equals('0')}"
                      >
                        <div
                          th:each="officeForm : ${listOfficeForm}"
                          th:if="${officeForm.officeNo.equals(userForm.targetOfficeNo)}"
                          th:value="${userForm.targetOfficeNo}"
                        >
                          [[${officeForm.officeName}]]
                          <input
                            type="hidden"
                            name="targetOfficeNo"
                            value=""
                            onFocus=""
                            th:field="*{targetOfficeNo}"
                          />
                        </div>
                      </div>
                      <div
                        th:if="${#authentication.principal.postType.equals('1')}"
                      >
                        <span
                          class="td_bodyList"
                          sec:authentication="principal.officeName"
                        ></span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- top-area -->

          <div class="middle-area">
            <div class="row justify-content-sm-center">
              <div class="col-lg-8 align-left alert-message">
                <p class="indentback">＊印のある項目は必須項目です。</p>
                <p class="indentback">
                  ・入力をキャンセルする場合は、戻るボタンを押下してください。
                </p>
              </div>
            </div>
          </div>
          <!-- middle-area -->

          <div class="bottom-area">
            <div class="row justify-content-sm-center">
              <div class="col-lg-10">
                <table class="form-table">
                  <tr>
                    <th>ユーザID*</th>
                    <td>
                      <input
                        type="text"
                        maxlength="64"
                        name="userId"
                        value=""
                        onFocus=""
                        th:field="*{userId}"
                      />
                    </td>
                    <td class="example">（半角英数字64文字以内）</td>
                  </tr>
                  <tr>
                    <th>パスワード*</th>
                    <td>
                      <input
                        type="password"
                        maxlength="16"
                        name="password"
                        value=""
                        onFocus=""
                        th:field="*{password}"
                      />
                    </td>
                    <td class="example">（半角英数字4文字～16文字）</td>
                  </tr>
                  <tr>
                    <th>パスワード（確認用）*</th>
                    <td>
                      <input
                        type="password"
                        maxlength="16"
                        name="passwordRepeat"
                        value=""
                        th:field="*{passwordRepeat}"
                      />
                    </td>
                    <td class="example"></td>
                  </tr>
                  <tr>
                    <th>事務所名称</th>
                    <td>
                      <div
                        th:if="${#authentication.principal.postType.equals('0')}"
                      >
                        <select name="officeNo" size="1">
                          <option
                            th:each="officeForm : ${listOfficeForm}"
                            th:value="${officeForm.officeNo}"
                            th:selected="${officeForm.officeNo} == ${userForm.officeNo}"
                          >
                            [[${officeForm.officeName}]]
                          </option>
                        </select>
                      </div>
                      <div
                        th:if="${#authentication.principal.postType.equals('1')}"
                      >
                        <span
                          class="td_bodyList"
                          sec:authentication="principal.officeName"
                        ></span>
                        <input
                          type="hidden"
                          name="officeNo"
                          value="${#authentication.principal.officeNo}"
                          onFocus=""
                          th:field="*{officeNo}"
                        />
                      </div>
                    </td>
                    <td class="example"></td>
                  </tr>
                  <tr>
                    <th>発注者部署名称</th>
                    <td>
                      <input
                        type="text"
                        maxlength="30"
                        name="ordererDivisionName"
                        value=""
                        onFocus=""
                        th:field="*{ordererDivisionName}"
                      />
                    </td>
                    <td class="example">（全角30文字以内）</td>
                  </tr>
                  <tr>
                    <th>役職</th>
                    <td>
                      <input
                        type="text"
                        maxlength="30"
                        name="positionName"
                        value=""
                        onFocus=""
                        th:field="*{positionName}"
                      />
                    </td>
                    <td class="example">（全角30文字以内）</td>
                  </tr>
                  <tr>
                    <th>担当者名*</th>
                    <td>
                      <input
                        type="text"
                        maxlength="20"
                        name="ordererName"
                        value=""
                        onFocus=""
                        th:field="*{ordererName}"
                      />
                    </td>
                    <td class="example">（全角20文字以内）</td>
                  </tr>
                  <tr>
                    <th>権限</th>
                    <td>
                      <input
                        type="checkbox"
                        id="check1"
                        name="authorityType"
                        value="on"
                        onFocus=""
                        th:field="*{authorityType}"
                        th:value="1"
                      />
                      <b><label for="check1">管理</label></b>
                    </td>
                    <td class="example"></td>
                  </tr>
                  <tr>
                    <th>工事／コンサル区分＊</th>
                    <td>
                      <b
                        ><input
                          type="checkbox"
                          th:each="userForm:${userForm.projectTypes}"
                          name="projectType"
                          th:value="${userForm.value}"
                          th:text="${userForm.key}"
                          th:field="*{projectType}"
                      /></b>
                    </td>
                    <td class="example"></td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="row error" th:if="${#fields.hasAnyErrors()}">
              <div class="col-12 align-center">
                <ul>
                  <li
                    th:if="${#fields.hasErrors('userId')}"
                    th:errors="*{userId}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('password')}"
                    th:uerrors="*{password}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('passwordRepeat')}"
                    th:errors="*{passwordRepeat}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('samePassword')}"
                    th:errors="*{samePassword}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('ordererDivisionName')}"
                    th:errors="*{ordererDivisionName}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('positionName')}"
                    th:errors="*{positionName}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('ordererName')}"
                    th:errors="*{ordererName}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('authorityType')}"
                    th:errors="*{authorityType}"
                  ></li>
                  <li
                    th:if="${#fields.hasErrors('projectType')}"
                    th:errors="*{projectType}"
                  ></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12 align-center">
                <input
                  type="submit"
                  id="user_entry_button"
                  class="btn"
                  value="登録"
                />
                <a class="btn" th:href="@{'/users'}">戻る</a>
              </div>
            </div>
          </div>
          <!-- bottom-area -->
        </form>
      </div>
      <!-- user-form -->
    </div>
    <!-- container -->
  </body>
</html>
