<!--/*
 //******************************************************
 // システム名 電子入札コアシステム
 // サブシステム名 アップロードシステム
 //
 // 利用者情報登録完了（UA01_UserResult.html）
 // @author  NEC
 // @version 1.0, xxxx.xx.xx, 新規作成
 //
 //******************************************************
*/-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>利用者情報登録・変更・削除結果</title>
    <link rel="stylesheet" href="bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="bootstrap-grid.min.css" />
    <link rel="stylesheet" href="upsystem.css" />
  </head>
  <body>
    <div class="container" layout:fragment="contents">
      <div class="screen-title">
        <div class="row">
          <div class="col-12">
            <h2 th:text="${messageForm.title}"></h2>
          </div>
        </div>
      </div>
      <!--screen-title -->

      <div class="middle-area">
        <div class="row justify-content-sm-center">
          <div class="col-md-8 align-center alert-message">
            <span th:text="${messageForm.message}"></span>
          </div>
        </div>
      </div>
      <!--    middle-area -->

      <div class="user-form">
        <form
          name="postForm"
          th:action="@{'/users'}"
          method="post"
          th:object="${userForm}"
        >
          <div class="bottom-area">
            <div class="row list-controll">
              <div class="col-12 align-center">
                <div class="btn-group">
                  <input
                    type="hidden"
                    name="targetOfficeNo"
                    th:field="*{targetOfficeNo}"
                  />
                  <input
                    type="submit"
                    value="利用者情報管理に戻る"
                    class="btn"
                    th:onClick="'location.href=\'' + @{'/users'} + '\''"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- bottom-area -->
        </form>
      </div>
      <!-- user-form -->
    </div>
    <!-- container -->
  </body>
</html>
