<!--/*
 //******************************************************
 //システム名 電子入札コアシステム
 //サブシステム名 アップロードシステム
 //
 // トップメニュー（UH03_OrderTopMenu.html）
 // @author  NEC
 // @version 1.0, xxxx.xx.xx, 新規作成<BR>
 //
 //******************************************************
*/-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>トップメニュー</title>
    <link rel="stylesheet" href="bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="bootstrap-grid.min.css" />
    <link rel="stylesheet" href="upsystem.css" />
  </head>
  <body>
    <div class="container" layout:fragment="contents">
      <div class="screen-title">
        <div class="row">
          <div class="col-12">
            <h2>トップメニュー</h2>
          </div>
        </div>
      </div>
      <!-- screen-title -->

      <div class="bottom-area">
        <div class="row">
          <div class="col-12 align-center">
            <ul class="menu-list">
              <li class="menu">
                <a th:href="@{'/projects/condition'}">案件一覧表示</a>
              </li>
              <li
                class="menu yellow"
                th:if="${#authentication.principal.authorityType == '0'}"
              >
                <a th:href="@{'/password'}">パスワード変更</a>
              </li>
              <li
                class="menu pink"
                th:if="${#authentication.principal.authorityType == '1'}"
              >
                <a th:href="@{'/users'}">利用者情報管理</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- bottom-area -->
    </div>
  </body>
</html>
